/* App CSS styling begins here */
root {
  --primary-color: #F7DBA7;
  --secondary-color: #F1AB86;
  --tertiary-color: #C57B57;
  --quartiary-color: #1E2D2F;
  --quintiary-color: #041F1E;
}

.App {
  text-align: center;
  background-color: #1E2D2F;
}

.Footer {
  background-color: #F7DBA7;
  height: 5vh;
  width: 100%;
}

.Header {
  background-color: #F7DBA7;
  height: 15vh;
}

.Navigation {
  background-color: #F1AB86;
}

.Project {
  background-color: #C57B57;
}

main {
  height: 80vh;
}