/* General styling begins here */
:root {
  --primary-color: #F7DBA7;
  --secondary-color: #F1AB86;
  --tertiary-color: #C57B57;
  --quartiary-color: #1E2D2F;
  --quintiary-color: #041F1E;
}

.App {
  text-align: center;
  background-color: var(--quartiary-color);
  color: var(--quintiary-color);
  min-height: 100vh;
}

a {
  color: var(--quintiary-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--tertiary-color);
}

.Page {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 10px;
}
/* General styling ends here */


/* Header styling begins here */
.Header {
  background-color: var(--primary-color);
  max-height: 26vh;
}
/* Header styling ends here */


/* Navigation styling begins here */
.Navigation {
  background-color: var(--primary-color);
  padding-left: 30px;
}

.nav.selected {
  background-color: var(--secondary-color);
}

.nav a {
  color: var(--quintiary-color);
  font-weight: bold;
}

.nav a:hover,
.nav a:focus {
  color: var(--tertiary-color);
}
/* Navigation styling ends here */


/* Main styling begins here */
.Main {
  min-height: 78vh;
  background-color: var(--secondary-color);
  padding: 20px;
}
/* Main styling ends here */


/* About styling begins here */
.About img {
  width: 100%;
  border-radius: 50%;
}

.About p {
  text-align: left;
}
/* About styling ends here */


/* Resume styling begins here */
.Resume .list-group-item {
  background-color: var(--primary-color);
}
/* Resume styling ends here */


/* Project styling begins here */
.Project {
  background-color: var(--secondary-color);
}

.Project img {
  width: 100%;
  height: 150px;
  object-fit:cover;
  object-position: 50% 0;
}

/* Project styling ends here */

/* Footer styling begins here */
.Footer {
  background-color: var(--primary-color);
  min-height: 8vh;
}

.Footer img {
  width: 100%;
}
/* Footer styling ends here */