/* App CSS styling begins here */
:root {
  --primary-color: #F7DBA7;
  --secondary-color: #F1AB86;
  --tertiary-color: #C57B57;
  --quartiary-color: #1E2D2F;
  --quintiary-color: #041F1E;
}

.App {
  text-align: center;
  background-color: var(--quintiary-color);
}

.Footer {
  background-color: var(--primary-color);
  height: 5vh;
  width: 100%;
}

.Header {
  background-color: var(--primary-color);
  height: 15vh;
}

.Navigation {
  background-color: var(--primary-color);
}

.Project {
  background-color: var(--secondary-color);
}

.Main {
  height: 80vh;
  background-color: var(--tertiary-color);
}